.my-card-job{
    background-color: #2b2a44;
    width: 300px;
    height: 250px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}


.my-card-job:hover{
    opacity: 0.6;
    width: 310px;
}

.my-circle-progress-job{
    width: 100px;
    flex: 0.1;
    padding-left: 10px;
}

.my-description-job{
    flex: 1;
    height: 100%;
    color: #ddd;
    display: flex;
    padding-left: 100px;
    flex-direction: column;
   justify-content: space-evenly;
}

.my-job-title{
    font-size: 25px;
}
.my-job-tags{

}

.my-job-infos{

}